<main id="flickrViewerPage">
  <p>Use the flickr API.</p>
  <!-- <input type="checkbox" id="flickrDogs" ng-model="vm.showDogs">Look at dogs</input> -->
  <label for="flickrTag">Input image tag</label>
  <input type="text" name="flickrTag" id="flickrTag" ng-keyup="$event.keyCode == 13 ? vm.getTaggedImages() : null">
  <br>
  <button type="button" id="flickrImages" ng-click="vm.getTaggedImages()">Search for tagged images</button>
  <button type="button" id="flickrDogs" ng-click="vm.getDogs()">Look at dogs</button>
  <!-- <button type="button" id="flickrDogs" ng-click="vm.showDogs = !vm.showDogs">Look at dogs</button> -->

  <p>{{vm.err}}</p>
  <div ng-if="vm.showDogs" ng-repeat="p in vm.dogs">
    <p>{{p.title}}</p>
    <img ng-src="{{vm.getDogImgSrc(p)}}">
  </div>

  <div ng-if="vm.showTaggedImages" ng-repeat="p in vm.taggedImages">
    <p>{{p.title}}</p>
    <img ng-src="{{vm.getTaggedImgSrc(p)}}">
  </div>
</main>
